<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="jugadoresController">

<p>Ordenación por nombre:</p>
<ul>
  <li ng-repeat="jugador in jugadores | orderBy:'nombre'">
    {{ jugador.nombre + ', ' + jugador.posicion + ', ' + jugador.canastasTotales }}
  </li>
</ul>

<p>Ordenación por posición:</p>
<ul>
  <li ng-repeat="jugador in jugadores | orderBy:'posicion'">
    {{ jugador.nombre + ', ' + jugador.posicion + ', ' + jugador.canastasTotales }}
  </li>
</ul>

<p>Ordenación por canastas totales:</p>
<ul>
  <li ng-repeat="jugador in jugadores | orderBy:'canastasTotales'">
    {{ jugador.nombre + ', ' + jugador.posicion + ', ' + jugador.canastasTotales }}
  </li>
</ul>

<div>
    <h2>Explicación:</h2>
    <p>Si queremos que el rendimiento sea lo más óptimo posible,
        es mejor mandar los jugadores ordenados desde Spring por
        si el cliente es algún dispositivo de muy bajo rendimiento,
        como smartphone antiguo. Ahora bien, si el usuario puede
        reordenar la lista, es preferible hacerlo con Angular en el
        cliente, ya que sería algo absurdo mandar la información al 
        servidor para que este la ordenase y nos la devolviese.</p>
</div>

</div>

<script>
angular.module('myApp', []).controller('jugadoresController', function($scope) {
    $scope.jugadores = [
        {nombre:'Xavi',posicion:'Pivot',canastasTotales:200},
        {nombre:'Tania',posicion:'Base',canastasTotales:300},
        {nombre:'Marc',posicion:'Alero',canastasTotales:400},
        {nombre:'Paco',posicion:'Alero',canastasTotales:100},
        {nombre:'Juan',posicion:'Pivot',canastasTotales:900},
        {nombre:'Gustav',posicion:'Base',canastasTotales:950}
        ];
});
</script>

</body>
</html>