<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<body ng-app="">
<form name="formulario">
    <p>
        Nombre del jugador:
        <input name="jugadorName" ng-model="jugadorName" required>
        <span ng-show="formulario.jugadorName.$invalid" style="color:red;">Es necesario introucir un nombre.</span>
    </p>

    <p>
        Canastas del jugador:
        <input name="jugadorCanastas" ng-model="jugadorCanastas" required>
        <span ng-show="formulario.jugadorCanastas.$invalid" style="color:red;">Es necesario introducir el total de canastas.</span>
    </p>

    <p>
        Rebotes del jugador:
        <input name="jugadorRebotes" ng-model="jugadorRebotes">
    </p>

    <p>
        Posición del jugador:
        <input name="jugadorPosicion" ng-model="jugadorPosicion" required>
        <span ng-show="formulario.jugadorPosicion.$invalid" style="color:red;">Es necesario introucir la posición en la que juega.</span>
    </p>

</form>

</body>
</html>
